<h2 style='text-align: center'></h2>
<div id='bioswrapper'>

       <div class='biodivs'>
       <div>
       <img class='aboutphoto' src="https://media.licdn.com/media/p/7/005/0ad/098/15f6c2c.jpg">
       </div>
       <div>
       <h3>Rodrigo Carballo</h3>
       <h4>Git Master</h4>
<!--        <p>A creative iOS and web developer, Rodrigo is a
       food lover with a passion for technology and Barca
       Futball Club. He is most inpired by family and making
       amazing web apps
       </p> -->
       </div>
       </div>

       <div class='biodivs'>
       <div>
       <img class='aboutphoto' src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKiAAAAJDUzYTBlY2JkLTZiNTEtNDMxMS04MjY0LWMwODk1NjJjYTFjNA.jpg">
       </div>
       <div>
       <h3>Merit Trompeter</h3>
       <h4>Developer</h4>
<!--        <p>A talented web developer and non profit veteren, Merit
       is also a master bee charmer who...
       </p> -->
       </div>
       </div>

       <div class='biodivs'>
       <div>
       <img class='aboutphoto' src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOZAAAAJGRiYTYzYTk4LTQ2M2ItNDExMi1hYmU1LTA0ZGNhZGZhZTZlYQ.jpg">
       </div>
       <div>
       <h3>Nathan Maas</h3>
       <h4>Product Manager</h4>
       <!-- <p>Passionate about startups and new ideas Nathan
       has driven the startup and development of companies
       from cider to chocolate - film production
       - technology. He is most inpired by the crossroads
       of technology, art, and culture as well as Nicholas
       Cage.
       </p> -->
       </div>
       </div>
</div>