<h2 class='red'>at mesa, we're  all about the good stuff</h2>
<h4>we love our food, and we really love the chefs who bring us the good stuff</h4>
<h4>so, to keep in touch with our favorite chefs, we created mesa</h4>
<h4>at mesa foodies can follow their favorite chefs, find out about neighborhood newcommers</h4>
<h4>and keep in the know about what everyone's cooking!</h4>
<br>
<h2 class='red'>meet the team</h2>

<div class="row">

  <div class="col-xs-2 col-xs-offset-3">
    <div class='bios'>
      <img class='aboutphoto' src="https://media.licdn.com/media/p/7/005/0ad/098/15f6c2c.jpg">
      <h3 class='red'>Rodrigo Carballo</h3>
      <h4>git master</h4>
    </div>
  </div>

  <div class="col-xs-2 ">
    <div class='bios'>
      <img class='aboutphoto' src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKiAAAAJDUzYTBlY2JkLTZiNTEtNDMxMS04MjY0LWMwODk1NjJjYTFjNA.jpg">
      <h3 class='red'>Merit Trompeter</h3>
      <h4>developer</h4>
    </div>
  </div>

  <div class="col-xs-2">
    <div class='bios'>
      <img class='aboutphoto' src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOZAAAAJGRiYTYzYTk4LTQ2M2ItNDExMi1hYmU1LTA0ZGNhZGZhZTZlYQ.jpg">
      <h3 class='red'>Nathan Maas</h3>
      <h4>product manager</h4>
    </div>
  </div>



