<!-- http://markdalgleish.com/projects/stellar.js/demos/backgrounds.html -->

<div class='imgdivs' id='div1' data-stellar-ratio="2">
<div class='mesatxt'>
                <br>
                <h1>Meet Your Chef</h1>
                <br>
                <h3>Discover the best plates from local chefs trending around you</h3>
</div>
</div>
<div class='imgdivs' id='div2' data-stellar-ratio="2">
<div class='mesatxt'>
                <br>
                <h1>Enjoy Their Plates</h1>
                <br>
                <h3>Patrons get the scoop straight from their favorite chefs</h3>
</div>
</div>
<div class='imgdivs' id='div3' data-stellar-ratio="2">
<div class='mesatxt'>
                <br>
                <h1>Enjoy Specials Together</h1>
                <br>
                <h3>Everyone has a seat at mesa</h3>
                <div id='signupdiv'>
                        <button type="button" class="btn btn-default"><a href='/auth/signup'>Browse Specials</a></button>

</div>
</div>
<div class='imgdivs' id='div3' data-stellar-ratio="2">
</div>
</div>