<div class='home'>
        <div class='imgdiv' id='div1' data-stellar-background-ratio="2"></div>
        <div class='mesatxt'>
                <br>
                <h1 class='red'>meet your chef</h1>
                <br>
                <h3>discover the best plates from local chefs trending around you</h3>
        </div>

        <div class='imgdiv' id='div2' data-stellar-background-ratio="2"></div>
        <div class='mesatxt'>
                <br>
                <h1 class='red'>hear about their specials</h1>
                <br>
                <h3>patrons get the scoop straight from their favorite chefs</h3>
        </div>

        <div class='imgdiv' id='div3' data-stellar-background-ratio="2"></div>
        <div class='mesatxt'>
                <br>
                <h1 class='red'>enjoy meals together</h1>
                <br>
                <h3>everyone has a seat at mesa</h3>
                <br>
                <button type="button" class="btn btn-default red"><a href='/auth/signup'>signup</a></button>
                <button type="button" class="btn btn-default red"><a href='/plates/new'>browse specials</a></button>
        </div>
      <!--   <div class='imgdiv' id='div4' data-stellar-background-ratio="2"></div> -->
</div>