<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script src="/js/script.js"></script>
        <link rel='stylesheet' media='screen' href='/css/style.css'>
        <title>mesa</title>
</head>
<body>
<div class="container">
         <%- body %>
</div>
</body>
</html>