<h2 class='red'>newest plates from chefs you love</h2>
<br>

<div class='row'>
<%plates.forEach(function(plate) { %>
<div class='foodcard'>
        <img class='platephoto' src=<%= plate.photo%>>
        <h3><a href='/plates/<%= plate.id%>/show' class='red'><%= plate.name %></a></h3>
        <p><%= plate.description %></p>
</div>
<% }); %>
</div>
