<h2 style='text-align: center; margin-bottom: 30px'>newest plates from our chefs</h2>

<%taco.forEach(function(plate) { %>
        <div class='well foodcard'>
                <img class='platephoto' src=<%= plate.photo%>>
                <h3><a href='/plates/<%= plate.id%>/show'><%= plate.name %></a></h3>
                <p><%= plate.description %></p>
        </div>
<% }); %>