<h2>New Plates</h2>

<% plates.forEach(function(plate) { %>
<div class="well">
        <h2><a href='/plates/<%= plate.id%>/show'><%= plate.name %></a></h2>
        <h2><%= plate.description %></h2>
</div>
<% }); %>