<h2>Please login to dine with us!</h2>

<form action="/auth/login" method="POST" role="form">
        <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="email">
                <input type="text" class="form-control" name="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
</form>
<button id='fblogin' type="button" class="btn btn-default"><a href="login/facebook">Facebook Signup/Login</a></button>
