<div class="col-md-6 col-md-offset-3">
<h2 class='red' >please login to mesa</h2>

<form action="/auth/login" method="POST" role="form">
        <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="email">
                <input type="password" class="form-control" name="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-default red">login to mesa</button>
</form>
<div>
        <button type="button" class="btn btn-default buttons"><a style='color: #2D4486' href="login/facebook">login with facebook</a></button>
</div>
</div>
