<h2>SignUp</h2>

<form action="/auth/signup" method="POST" role="form">
        <div class="form-group">
                <label for="">Sign up to start connecting with your favorite chefs on Mesa.</label>
                <input type="text" class="form-control" name="name" placeholder="your name">
                <input type="text" class="form-control" name="email" placeholder="your email">
                <input type="text" class="form-control" name="phone" placeholder="your phone number" onkeypress="return isNumberKey(event)">
                <input type="text" class="form-control" name="password" placeholder="password">
                <input type="text" class="form-control" placeholder="confirm password">
                <input type="radio" name="chef" value=true>Chef<br>
                <input type="text" class="form-control" name="restaurant" placeholder="your restaurant name">
                <input type="text" class="form-control" name="location" placeholder="your restaurant location">
                <input type="text" class="form-control" name="bio" placeholder="about you">
                <a href="#" id="upload_widget_opener">Upload Chef Photo</a>
                      <script type="text/javascript">
                      document.getElementById("upload_widget_opener").addEventListener("click", function() {

                      cloudinary.openUploadWidget({ cloud_name: 'dpqunwmnb', upload_preset: 'r7wc50dt'},
                      function(error, result) {
                        console.log(result[0]["url"]);
                        console.log(error, result)
                        var photoLocation = $('#photo_url');
                        photoLocation.val(result[0]["url"]);

                      });

                      }, false);
                      </script>
                      <input type="text" class="form-control" name="photo" value = '' id = 'photo_url' readonly>
       <!--          <input type="text" class="form-control" name="photo" placeholder="photo"> -->
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
</form>

