
<div id='signupinfo' style='text-align: center'>
<h2>welcome to la mesa</h2>
<h3>patrons find your favorite local chefs and be the first to know what marvels they create</h3>
<h3>chefs share special plates that excite you and let your followers know the inside scoop</h3>
<h3>please fill out the bellow form to sign up with mesa</h3>
</div>

<div class="col-md-6 col-md-offset-3">
<form action="/auth/signup" method="POST" role="form">



        <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="your name">
                <input type="text" class="form-control" name="email" placeholder="your email">
                <input type="text" class="form-control" name="phone" placeholder="your phone number" onkeypress="return isNumberKey(event)">
                <input type="password" class="form-control" name="password" placeholder="password">
                <input type="password" class="form-control" placeholder="confirm password">
                <div id='radio'>
                    <input type="radio" name="chef" value=true>sign me up as a chef<br>
                </div>
                <input type="text" class="form-control" name="restaurant" placeholder="your restaurant name">
                <input type="text" class="form-control" name="location" placeholder="your restaurant location">
                <input type="text" class="form-control" name="bio" placeholder="about you">
                <div id='upload'>
                    <a href="#" id="upload_widget_opener">select a photo for my profile</a>
                </div>
                      <script type="text/javascript">
                      document.getElementById("upload_widget_opener").addEventListener("click", function() {

                      cloudinary.openUploadWidget({ cloud_name: 'dpqunwmnb', upload_preset: 'r7wc50dt'},
                      function(error, result) {
                        console.log(result[0]["url"]);
                        console.log(error, result)
                        var photoLocation = $('#photo_url');
                        photoLocation.val(result[0]["url"]);

                      });

                      }, false);
                      </script>
                      <input type="text" class="form-control" name="photo" value = '' id = 'photo_url' readonly>
       <!--          <input type="text" class="form-control" name="photo" placeholder="photo"> -->
        </div>
        <div style='text-align: center'>
        <button type="submit" class="btn btn-default">sign up</button>
        </div>
</form>
</div>

