<h2 class='red'>mesa chefs</h2>
<br>
<%chefs.forEach(function(chef) { %>
<div class=' showPlates chefcard'>
        <img class='chefphoto' src=<%= chef.photo%>>
        <h3><a href='/chefs/<%= chef.id %>/show' class='red'><%= chef.user.name %></a></h3>
        <h3><%= chef.restaurant %></h3>
</div>
<% }); %>
