<h2>Chef Login</h2>

<form action="/chefs/login" method="POST" role="form">
        <legend>Chef Login</legend>
        <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="email">
                <input type="text" class="form-control" name="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
</form>
<a href="login/facebook">Login with facebook</a>