<h2 class='red'>add a plate</h2>
<div class="col-md-6 col-md-offset-3">

  <form action="/chefs/plates/new" method="POST" role="form">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="plate name">
      <input type="text" class="form-control" name="description" placeholder="plate description">
      <a href="#" id="upload_widget_opener">upload a photo of your special</a>
      <script type="text/javascript">
        document.getElementById("upload_widget_opener").addEventListener("click", function() {
          cloudinary.openUploadWidget({ cloud_name: 'dpqunwmnb', upload_preset: 'r7wc50dt'},
            function(error, result) {
              var photoLocation = $('#photo_url');
              photoLocation.val(result[0]["url"]);
            });
        }, false);
      </script>
      <input type="text" class="form-control" name="photo" value = '' id = 'photo_url' readonly>
      <input type="text" class="form-control" name="deal" placeholder="deal? (optional)">
      <input type="hidden" class="form-control" name="id" value=<%= currentUser.id %>>
    </div>
    <button type="submit" class="btn btn-default red">create plate</button>
  </form>

</div>
