<h2>Chef Singup</h2>

<form action="" method="POST" role="form">
        <legend>Chef Signup</legend>
        <div class="form-group">
                <label for="">Please let your patrons know a little about you.</label>
                <input type="text" class="form-control" name="name" placeholder="your name">
                <input type="text" class="form-control" name="email" placeholder="your email">
                <input type="text" class="form-control" name="password" placeholder="password">
                <input type="text" class="form-control" name="password" placeholder="confirm password">
                <input type="text" class="form-control" name="rest_name" placeholder="your restaurant name">
                <input type="text" class="form-control" name="rest_location" placeholder="your restaurant location">
                <input type="text" class="form-control" name="chef_bio" placeholder="a little about you">
                <input type="text" class="form-control" name="chef_photo" placeholder="your photo">
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
</form>